extends layout

block content
  form(name="download", action="/convert/font", method="get")
    //- input(type="text", name="user_letter")
    //- input(type="hidden" name="constant_letter" value="A_")
    input(type="submit", value="DOWNLOAD")